body{
	background-image:url("../img/background.jpg");
	background-color:#ffffff;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-size:cover;
	overflow:hidden;
}

#container{
	position:fixed;
	text-align:center;
	left:50%;
	top:45%;
	margin-top:-120px;
	margin-left:-150px;
	width:300px;
}